@charset "UTF-8";
body{
    background-color:black !important;
    color : white;

}

div{
    width: 100%;
    height:330PX;
}
img{
    display:block;
    margin:auto;
    border-bottom:40px;
}

.btn_link{
    text-decoration: none !important;
    color:white !important;
}

.btn-outline-warning {
    --bs-btn-color: #f8f7f6 !important;
    --bs-btn-border-color: #ff7600 !important;
    --bs-btn-hover-color: #ff760 !important;
    --bs-btn-hover-bg: #ff7600 !important;
    --bs-btn-hover-border-color: #ff7600 !important;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #f3f1f1 !important;
    --bs-btn-active-bg: #ff7600 !important;
    --bs-btn-active-border-color: #ff7600 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
    --bs-btn-disabled-color: #ff7600 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #ff7600 !important;
    --bs-gradient: none;
}
.btn {
    --bs-btn-padding-x: 1.0rem !important;
    --bs-btn-padding-y: 0.6rem !important;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 3.0;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}