body {
	background-color: black !important;
	height: 1000px;
}

/* header */
/* 헤더 버튼 색깔 */
.btn-outline-warning { 
	-bs-btn-color: #fcfbf9 !important; 
	-bs-btn-border-color: #ff7600 !important; 
	-bs-btn-hover-color: #ff7600 !important; 
	-bs-btn-hover-bg: #ff7600 !important; 
	-bs-btn-hover-border-color: #ff7600 !important; 
	-bs-btn-focus-shadow-rgb: 255, 193, 7; 
	-bs-btn-active-color: #f3f1f1 !important; 
	-bs-btn-active-bg: #ff7600 !important; 
	-bs-btn-active-border-color: #ff7600 !important; 
	-bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	
	-bs-btn-disabled-color: #ff7600 !important; 
	-bs-btn-disabled-bg: transparent !important; 
	-bs-btn-disabled-border-color: #ff7600 !important; 
	-bs-gradient: none;
}

#navbarCollapse a {
	font-weight: 549 !important;
}

.btn { 
	-bs-btn-padding-x: 1.0rem !important; 
	-bs-btn-padding-y: 0.6rem !important; 
	-bs-btn-font-size: 1rem; 
	-bs-btn-font-weight: 400; 
	-bs-btn-line-height: 3.0; 
	-bs-btn-color: #212529; 
	-bs-btn-bg: transparent; 
	-bs-btn-border-width: 1px; 
	-bs-btn-border-color: transparent; 
	-bs-btn-border-radius: 0.375rem; 
	-bs-btn-hover-border-color: transparent; 
	-bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px
		rgba(0, 0, 0, 0.075); 
	-bs-btn-disabled-opacity: 0.65; 
	-bs-btn-focus-box-shadow: 0 0 0 0.25rem
		rgba(var(- -bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(- -bs-btn-padding-y) var(- -bs-btn-padding-x);
	font-size: var(- -bs-btn-font-size);
	font-weight: var(- -bs-btn-font-weight);
	line-height: var(- -bs-btn-line-height);
	color: var(- -bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(- -bs-btn-border-width) solid var(- -bs-btn-border-color);
	border-radius: var(- -bs-btn-border-radius);
	background-color: var(- -bs-btn-bg);
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* header */

/* main */
/* 메인 한번 묶기 */
.wrapper {
	background-color: black;
	width: 1500px;
	margin-left: 200px;
	margin-top: 120px;
}

/*메인에 대표 포스터 이미지*/
/* .background {

    background-size: cover;
    width: 1200px;
    height: 300px;
    display: block;
    text-align: center;
    position: relative;

    margin-bottom: 50px;
} */

/* 메인에 대표이미지 빼고 묶기(해시태그/사진 올리는 부분까지) */
.contents_wrap {
	margin-top: 10px;
	margin-left: 50px;
}

/* 제목부분 크기 지정*/
div#title {
	height: 50px;
}

/* 아코디언 전체 크기 설정 */
.hashtag {
	width: 1400px;
}

/* 아코디언 몸통 (겉)*/
.accordion-button {
	background-color: rgb(6,13,23) !important;
	color: white !important;
	font-size: 15pt !important;
}
/* 해시태그 열리는 아코디언 안에 체크박스 부분(안) (부트스트랩)  */
.accordion-body {
	font-size: 13pt;
	background-color: #5e718d;
	color: white;
	/* 오른쪽으로 좀 띄어봄(이상하면 지워도됨) */
	padding: 5px 50px 5px 50px !important;
	/* 상단, 우측, 하단, 좌측*/
}

/* 체크박스 크기키우기 */
input[type=checkbox] {
	transform: scale(1.5);
}

/* 테이블에 마진 설정해서 버튼 왼쪽으로 밀어줌 */
.hash_tb {
	margin-left: 1180px;
}

.input_search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}

/*드래그앤 드랍*/
.dd_container {
	width: 1400px;
	height: 800px;
	margin: 0;
	padding: 0;
	background-color: rgb(6,13,23);
	margin-top: 30px;
	border-radius: 8px;
	/* display: flex; */
}

button.draggable {
	width: 170px;
	height: 260px;
	border: none;
	border-radius: 8px;
	margin: 12px;
	cursor: move;
	font-size: 30px;
	background: #eaeaea4f;
}

.d_container {
	height: 400px;
	margin: 10px;
	padding: 10px;
	background-color: #b5c1dc57;
	border-radius: 8px;
}

.draggable.dragging {
	opacity: 0.5;
}

.container {
	margin-top: 100px;
}


/*스크롤 하는 기능*/
.scroll_contatiner {
	width: 250px;
	height: 140px;
	overflow: auto;
}

.scroll_contatiner::-webkit-scrollbar {
	width: 17px;
}

.scroll_contatiner::-webkit-scrollbar-thumb {
	background-color:rgb(6,13,23);
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.scroll_contatiner::-webkit-scrollbar-track {
	background-color:#5e718d;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
/*스크롤 하는 기능*/